<div class="my-todo-container d-flex">
    <div class="my-form-check">
        <!-- <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> -->
        <p id="todo_title">{{todo.title}}</p>
        <p id="todo_desc">{{todo.desc}}</p>
      </div>
      <div id="mark-active-button-div">
        <p id="completed-label">&#10003; Completed</p>
        <input id="mark-active-button" type="button" class="btn btn-success" value="Delete Todo" (click)="onDeleteTodo()">
      </div>
</div>