#add-todo-title{
    width: 15%;
   height: 5vw;
    align-self: center;
    text-align: center;
}
#add-todo-desc{
    width: 60%;
    height: 10vw;
    text-align: center;
}
#all_todos{
    margin-top:5vw;
}
#add-note-button{
    height: 5vw;
    font-size: 1.5vw;
    align-self: center;
    padding-left: 1vw;
    padding-right: 1vw;
}